
.Skills{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    padding: 20px;
    min-height: 100vh; 
    background-color: #f9f9f9; 
    text-align: center; 

  }
  
  h2 {
    margin-bottom: 20px; 
  }
  
  /* List styling */
  .list-group-item {
    border-radius: 0.5rem; 
  }
  
  @media (max-width: 768px) {
    h2 {
      font-size: 1.5em; 
    }
  
    .skills-container {
      padding: 10px; 
    }
  }
  